.bold {
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
}

.semi-bold {
  font-weight: 500;
  font-size: 8px;
  margin: 0;
}

.resume_about > div > div > div > span {
  font-size: 12px;
}
.resume_about > div > div > div > span:nth-child(1) {
  font-weight: bold;
}

.title {
  margin-bottom: 10px;
}

.resume_item {
  padding: 12.5px 0;
  border-bottom: 1px solid rgb(11, 181, 244);
}

.resume_right .resume_item:last-child {
  border-bottom: 0px;
}

.resume_right .bold {
  color: #0bb5f4;
}

.resume_right ul {
  margin-left: 18px;
}

.resume_right ul li .date {
  font-size: 8px;
  font-weight: 500;
  margin-bottom: 7.5px;
}

.resume_right ul li .info {
  margin-bottom: 10px;
}

.resume_right ul li:last-child .info {
  margin-bottom: 0;
}

.resume_right .resume_hobby ul {
  display: flex;
  justify-content: space-between;
}

.resume_right .resume_hobby ul li {
  width: 40px;
  height: 40px;
  border: 1px solid #0bb5f4;
  border-radius: 50%;
  position: relative;
  color: #0bb5f4;
}

.resume_right .resume_hobby ul li i {
  font-size: 15px;
}

.resume_right .resume_hobby ul li:before {
  content: "";
  position: absolute;
  top: 20px;
  right: -26px;
  width: 25px;
  height: 1px;
  background: #0bb5f4;
}

.resume_right .resume_hobby ul li:last-child:before {
  display: none;
}
