body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}
body::-webkit-scrollbar-thumb {
  background: #096dd9;
}

.dashboard-section {
  font-size: 16px;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
  margin: 0;
  padding: 0;
}

.site-layout .ant-layout-header {
  background: #fff;
}

.ant-layout .trigger {
  border-right: 1px solid #f0f0f0;
}

.ant-layout .ant-layout-header {
  border: 1px solid #f0f0f0;
  display: flex;
  justify-content: space-between;
}

.header-title .ant-page-header-heading {
  margin-top: -0.3rem;
}

.ant-layout-header .header-function {
  min-width: 10vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 1.5rem;
}

.ant-layout.site-layout main {
  padding: 24px;
  margin: 24px 16px;
}

.ant-layout-sider {
  height: 100vh;
}

.ant-menu > h3 {
  color: rgba(255, 255, 255, 0.3);
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 1.5rem;
  letter-spacing: 0.2ch;
}

.dashboard-section .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.dashboard-section .logo {
  height: 18vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo p {
  color: #fff;
  margin-top: 0.5rem;
  margin-bottom: 0;
}
