.ant-card .ant-card-body .post-header {
  margin-top: 1rem;
  display: flex;
}

.ant-card .ant-card-body .post-body {
  margin-top: 0.5rem;
}

.ant-card .ant-card-body .post-footer .footer-buttons {
  width: 10rem;
  display: flex;
  justify-content: space-between;
}

div.post-footer > div.footer-buttons > button {
  padding: 0;
  border: none;
}

div.post-footer > div.footer-buttons > button > span {
  margin-right: 0.4rem;
}

.ant-card .ant-card-body .post-footer .footer-write-comment {
  display: flex;
  border-top: 1px solid #f0f0f0;
  padding-top: 0.5rem;
}
